.section {
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.section h1:hover {
    color: #000;
    cursor: pointer;
    text-shadow: 1px 2px gray;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: auto;
}

.rowdisplay,
.timeline_left {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: rgba(223, 231, 238, 0.5);
}

.rowdisplay {
    width: 60%;
    display: flex;
}

.timeline_left_data {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    filter: gray;
    -webkit-filter: grayscale(90%);
    transition: filter 0.3s linear, color 0.3s linear;
    color: gray;
}

.timeline_selector:hover .timeline_year {
    color: crimson;
}

.timeline_selector:hover .timeline_left_data {
    height: 11vh;
    filter: none;
    -webkit-filter: grayscale(0%);
    color: black;
    background-color: aliceblue;
    cursor: pointer;
}

.timeline_left_data img {
    display: block;
    width: auto;
    height: 100%;
}

.timeline_left_data p {
    width: 90%;
    height: auto;
    margin: 0;
    margin-left: 5px;
    font-size: larger;
}

.timeline_divider,
.timeline_year {
    font-size: large;
    margin: 5px;
    margin-left: 0.5vw;
    color: gray;
    transition: color 0.3s linear;
}

.timeline_divider {
    height: 20px;
    width: auto;
}

.rowdisplayData {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    height: max-content;
    padding: 1%;

    filter: gray;
    -webkit-filter: grayscale(50%);
    transition: filter 0.3s linear, color 0.3s linear;
    color: gray;
}

.rowdisplayData:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

.rowdisplayData img {
    width: auto;
    height: auto;
    max-width: 70%;
    max-height: 55%;
}

.rowdisplayData:hover img,
.rowdisplayData:hover h2 {
    max-width: 75%;
    max-height: 60%;
    color: #000;
}

.rowdisplayData h2 {
    color: #333;
    margin-bottom: 0px;
}

.rowdisplayData p {
    text-align: center;
}